{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/tippy-bundle.iife.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/switchery.js' %}"></script>
<script src="{% static 'js/easytimer.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor/styles.js' %}"></script>
<script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
<script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
<script src="{% static 'js/date-picker/datepicker.js' %}"></script>
<script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
<script src="{% static 'js/tour/intro.js' %}"></script>
<script src="{% static 'js/tour/intro-init.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/zoom-gallery.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'lib/js/lightbox.js' %}"></script>
<script src="{% static 'lib/js/lightbox-plus-jquery.min.js' %}"></script>