<div class="card-body">
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        {{ form.current_password.label }}
        {{ form.current_password }}
        <br>
        {{ form.new_password.label }}
        {{ form.new_password }}
        <br>
        {{ form.password_confirm.label }}
        {{ form.password_confirm }}
        <br>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="text-right">
            <button type="submit" class="btn btn-outline-primary btn-sm">confirm</button>
        </div>
        </form>
</div>