<div class="contact-content tabto">
                <div class="contact-sub-content">
                    <a class="icon-btn btn-outline-danger button-effect close-profile mb-3"
                       style="float: right;">
                        <i class="ti-close"></i>
                    </a>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="user-profile">
                                <div class="user-content">
                                    <img id="prof-avatar" class="img-fluid bg-icon" src="" alt="user-img">
                                    <h3 id="profile-display-name">user</h3>
                                    <ul>
                                        <li>
                                            <a id="profile-chat-link" href="#">
                                                <i class="fa fa-twitch"></i>
                                            </a>message
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="personal-info-group">
                                <h3>contact info</h3>
                                <ul class="basic-info">
                                    <li>
                                        <h5>Display Name :</h5>
                                        <h5 id="profile-display-name-details" class="details">Nick</h5>
                                    </li>
                                    <li>
                                        <h5>About Me :</h5>
                                        <h5 id="profile-about-me" class="details">male</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>